<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Orange line</h2>
  </div>
  <div class="panel-body">
    <% @results["Incidents"].each do |line|%>
		<% if line["LinesAffected"]=="OR;" %>
			<div class="line-<%= line["LinesAffected"].gsub(';', '') %>">
				<p><%= line["Description"].gsub('Orange Line: ', '')%></p>
				<h5>Updated: <%= line["DateUpdated"]%></h5>
			</div>
		<% else %>
			
		<% end %>
	<% end %>
  </div>
</div>