<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Red line</h2>
  </div>
  <div class="panel-body">
    <% @results["Incidents"].each do |line|%>
		<% if line["LinesAffected"]=="RD;" %>
			<div class="line-<%= line["LinesAffected"].gsub(';', '') %>">
				<p><%= line["Description"].gsub('Red Line: ', '')%></p>
			</div>
		<% else %>
			
		<% end %>
	<% end %>
  </div>
</div>