<% @results["Incidents"].each do |line|%>
	<% if line["LinesAffected"]=="SV;" %>
		<div class="line-<%= line["LinesAffected"].gsub(';', '') %>">
			<h2>Silver Line:</h2>
			<h3><%= line["Description"].gsub('Silver Line: ', '')%></h3>
		</div>
	<% else %>
		
	<% end %>
<% end %>